.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav ul {
    list-style-type: none; /* remove default breakpoints*/
    margin:0; /* removes default margin*/
    padding:0; /* removes default padding*/
    display: flex; /* Makes the list horizontal with justify content*/
    justify-content: flex-start; /* */
    background-color: #8A63D2; /* */
}
nav li{
    padding: 5px 20px 5px 20px; /* padding for the top right bottle left so links are not to close*/
}
nav li:hover{
    background-color: #6C47B3;
}
.topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:60px;
    length: 20px;
}
body {
    background-color: #3A3B40;
}
h2{
    text-align: center;
    font-size: x-large;
    font-family: Arial Microsoft Himalaya sans-serif;
    color: #00FFFD;
}

.content{
    text-align: center;
    font-size: x-large;
    font-family: Arial Microsoft Himalaya sans-serif;
    color: #D8E2FF;
}
#error{
    background-color: red;
}
#none{
    background-color: green;
}