body {
    background-color: #545454;

}

#formerslogo {
    width: 50%;
    height: 150px;
}
nav {
    background-color: #2d545e;
    padding: 10px 0;
    text-align: center;
}

h2 {
    color:darkorange;
    text-align: center;
}

.content {
    color:#ff7034;
    text-align: center;
    font-size: large;
}
.header {
    text-align: center;
    color:#ff7034;
    font-size: x-large; /* larger front for the names*/
}
.b
{
    text-align: center;
    text-decoration: none;
    text-underline: none;
}
.autobots {
    padding: 10px;
    background-color: #545454; /* Default background */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    border: none;
}
.autobot{
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 400px;
}

.autobots:hover {
    padding: 10px;
    background-color: blue; /* New background on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.decepticons {
    background-color: #545454; /* Default background */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    border: none;
    padding: 10px;
}

.decepticons:hover {
    padding: 10px;
    background-color: red; /* New background on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
.mainbut
{
    background-color: #2d545e;
}
.download{
    align-items: center;
    background-color: #545454;
    border:none;
}
div.container{
    display: block;
    margin:auto;
    align-content: center;
}
img {
    display: block;
    margin: auto;
}
.but1{
    width: 100px;
    height: 100px;
}
.images{
    width: 100px;
    height: 100px;
}