.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav ul {
    list-style-type: none; /* remove default breakpoints*/
    margin:0; /* removes default margin*/
    padding:0; /* removes default padding*/
    display: flex; /* Makes the list horizontal with justify content*/
    justify-content: flex-start; /* */
    background-color: white; /* */
}
nav li{
    padding: 5px 20px 5px 20px; /* padding for the top right bottle left so links are not to close*/
}
nav li:hover{
    background-color: #4E387E;
}
#logo{
    height: 175px;
}
body {
    background-color: #0A0F1C;
}
h2{
    text-align: center;
    font-family: Arial Microsoft Himalaya sans-serif;
    color: #00E5FF;
}
.content{
    text-align: center;
    font-size: x-large;
    font-family: Arial Microsoft Himalaya sans-serif;
    color: #A0A0A0;
}